{% import "AppBundle::macros.html.twig" as macros %}
<span class="card-content">

    {% if card.type_code == 'crew' %}
        <p><span class="species"></span> {{ card.species }}</p>
        <p>{{'card.info.skill' | trans}}: {{ card.skills }}</p>
        <p>{{'card.info.wound' | trans}}: {{ macros.integer_or_x(card.wound) }}<span class="wounds"></span></p>
    {%  endif %}
    {% if card.type_code == 'heroic' %}
        <p>{{'card.info.requiredskill' | trans}}: {{ card.requiredskill }}</p>
    {%  endif %}
    {% if card.type_code == 'upgrade' %}
        <p>{{'card.info.tonnage' | trans}}: {{ card.tonnagerequirement }}</p>
        <p>{{'card.info.structure' | trans}}: {{ card.structure }}<span class="structure"></span></p>
    {%  endif %}
    {% if card.type_code == 'character' or card.type_code == 'attachment' or card.type_code == 'conn' or card.type_code == 'crew' or card.type_code == 'gear' or card.type_code == 'upgrade' or card.type_code == 'event' or card.type_code == 'heroic' or card.type_code == 'location' %}
        <p>{{'card.info.cost' | trans}}: <span class="Cost' +{{ macros.integer_or_x(card.cost) }} + '"></span>.
            {{'card.info.expense' | trans}}: {{ macros.integer_or_x(card.expense) }}<span class="expenses"></span>.</p>
    {% endif %}
    {% if card.type_code == 'ship' %}
        <div>
            <span class="card-type"> {{'card.info.tonnage' | trans}}: {{ macros.integer_or_x(card.tonnage) }}</span>
        <br>Capabilities: {{ card.capabilities }}
        <br><span class="initiative"></span>: {{ macros.integer_or_x(card.initiative) }}
        <br><span class="jump"></span>: {{ macros.integer_or_x(card.jump) }}
        <br><span class="attack"></span>: {{ macros.integer_or_x(card.attack) }}
        <br><span class="defense"></span>: {{ macros.integer_or_x(card.defense) }}</p>
        </div>
        <div align="right">
            <p>
                {{ macros.integer_or_x(card.crew) }}:<span class="crew"></span>
                {{ macros.integer_or_x(card.computer) }}:<span class="computer"></span>
                {{ macros.integer_or_x(card.hardpoint) }}:<span class="hardpoint"></span>
                {{ macros.integer_or_x(card.hull) }}:<span class="hull"></span>
                {{ macros.integer_or_x(card.internal) }}:<span class="internal"></span>
            </p>
        </div>
    {% endif %}
    {% if card.type_code == 'plot' %}
        {{'card.info.income' | trans}}: {{ macros.integer_or_x(card.income) }}.
        {{'card.info.initiative' | trans}}: {{ macros.integer_or_x(card.initiative) }}.
        {{'card.info.claim' | trans}}: {{ macros.integer_or_x(card.claim) }}.
        {{'card.info.reserve' | trans}}: {{ macros.integer_or_x(card.reserve) }}.
        {{'card.info.plotlimit' | trans}}: {{ macros.integer_or_x(card.deck_limit) }}.
    {% endif %}
    {% if card.type_code == 'adv' %}
        <div>
            <p>{{ macros.integer_or_x(card.distance) }}<span class="distance"></span></p>
            <p>{{'card.info.contractrequirements' | trans}}: {{ card.contractrequirements }}
           <br>{{'card.info.subplots' | trans}}:{{ card.subplots }}</p>
        </div>
        <div align="right">
            <p>{{ macros.integer_or_x(card.compslots) }} <span class="complication"></span>
            {{ macros.integer_or_x(card.abandpenalty) }} <span class="Abandonment"></span>
            {{ macros.integer_or_x(card.victorypoints) }} <span class="victoryppoint"></span></p>
        </div>
        <div>
            <p></p>
            <p class="card-type">{{ card.complicationname }}</p>
            <p class="card-traits">{{ card.complicationtraits }}</p>
            {{'card.info.complicationtext' | trans}}: {{ card.complicationtext }}
            <br>{{ card.abandpenmodifier }} <span class="abandonment"></span>
            <div class="card-flavor small">{{ card.compflavortext }}</div>
            <p></p>
        </div>
    {%  endif %}
</span>
