{% import "AppBundle::macros.html.twig" as macros %}

<div class="col-md-12" style="margin-top:2em">
    <div style="line-height:34px" id="erratas-header">
        <span style="font-size:24px">{{ 'card.erratas.title' | trans }}</span>
    </div>
    {% if card.erratas|length %}
        {% for errata in card.erratas %}
            <article class="errata" data-id="{{ errata.id }}" id="errata-{{ errata.id }}">
                <div class="errata-content">
                    <div class="errata-text">
                        {{ errata.textHtml|raw }}
                    </div>
                    <div class="errata-date">
                        <time datetime="{{ errata.dateCreation|date('c') }}" title="{{ errata.dateCreation|date('F jS, Y') }}">{{ errata.dateCreation|date('n/j/y') }}</time>
                    </div>
                    <div class="errata-author">
                        <span class="username">{{ macros.username(errata.user) }}</span>
                    </div>
                </div>
            </article>
        {% endfor %}
    {% else %}
        <p><i>{{ 'card.erratas.none' | trans }}</i></p>
    {% endif %}
</div>
