{% extends 'AppBundle:Admin:base.html.twig' %}

{% block content -%}
    <div class="container">
    <h1>Glossary</h1>

    <table class="record_properties table table-condensed">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ entity.title|raw }}</td>
            </tr>
            <tr>
                <th>Keyword</th>
                <td>{{ entity.keyword|raw }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ entity.text|raw }}</td>
            </tr>
        </tbody>
    </table>

        <a href="{{ path('admin_glossary') }}" class="btn btn-warning btn-default" role="button" >
            Back to the list
        </a>
        <p></p>
        <a href="{{ path('admin_glossary_edit', { 'id': entity.id }) }}" class="btn btn-default" role="button">
            Edit
        </a>
    </div>
{% endblock %}
