{% extends 'AppBundle::layout.html.twig' %}
{% import "AppBundle::macros.html.twig" as macros %}

{% block body %}

<div class="main container">
{# <h1 class="site-title hidden-xs">Thr<span style="position:relative">o<span class="icon icon-power" style="position:absolute;left: .65em;top: 1.2em;font-size: 30%;"></span></span>nesDB</h1> #}
 <h1 class="site-title hidden-xs">TravellerDB</h1>
 <div class="site-slogan">{{ 'slogan' | trans }}</div>
</div> <!-- .container -->

<div class="main container">
    <div class="row">
    {% for data in decklists_by_faction %}
    <div class="col-md-6" style="margin-bottom:30px">
        <div class="bg-faction bg-{{ data.faction.code }}" style="padding:10px 10px 5px 10px">
            <div class="media">
              <div class="media-left" style="font-size:30px">
                  <span class="icon icon-{{ data.faction.code }}"></span>
              </div>
              <div class="media-body">
                  <h4 class="media-heading" style="white-space:nowrap"><a href="{{ path('decklist_detail',{decklist_id:data.decklist.id,decklist_name:data.decklist.nameCanonical}) }}">{{ data.decklist.name }}</a></h4>
                  <div class="small">
                    {% set username %}
                      <span class="username">{{ macros.username_colorless(data.decklist.user) }}</span>
                    {% endset %}
                    {{ 'userby' | trans({'%user%': username}) | raw }}
                    &middot;
                    <time datetime="{{ data.decklist.dateCreation|date('c') }}">{{ data.decklist.dateCreation|date('M d, Y') }}</time>
                  </div>
              </div>
            </div>
        </div>
        <div style="background-color: white; padding: 10px 20px 20px 20px">
            <div class="small pull-right">
                {{ macros.decklist_social_icons(data.decklist ) }}
            </div>
            <div>{{ data.factions }}</div>
            <p>{{ data.count_by_type|raw }}</p>
            <div class="text-center small"><a href="{{ path('decklists_list',{type:'find',faction:data.faction.code}) }}">{{ 'seemore.faction' | trans }}</a></div>
            <div style="clear:both"></div>
        </div>
    </div>
    {% endfor %}
    </div>
    <div class="row">
    	<div class="col-md-12">
            {# {% include "AppBundle:Default:google-adaptable-ad.html.twig" %} #}
    	</div>
    </div>
</div>

<div class="main container">
    <h3>Recent Updates</h3>
    <ul>
        <li>
            <h4>Rules Updates 3/29/2019</h4>
            Updates made into the Rules Reference pages from answered questions on the <a href="https://boardgamegeek.com/boardgame/216630/traveller-customizable-card-game-two-player-starte/forums/0">BGG Forums</a> and <a href="https://www.travellerccg.com/forums/viewforum.php?f=15">TravellerCCG Forums</a>.
        </li>
        <li>
            <h4>Card Display and Modals 3/18/2019</h4>
            After some great thought about removing the text card displays and pop-ups and replacing them with only card
            views, I consulted a more seasoned UI expert whom told me to go look at the display on my phone. Since <a href="http://travellerdb.com">TravellerDB</a>
            is also available on mobile devices in a format that is formatted to their screen sizes, the graphic cards just were not easily readable on the pop-up
            windows.  So having devoted a Large amount of time, the text modals and deck cards text version has been brought fully up to date with complete icon replacements.
        </li>
        <li>
            <h4>Search Updates for <span class="crew"></span> 3/16/2019</h4>
            Updated all of the search properties to include being able to search for a <span class="crew"></span> skills or <span class="crew"></span><span class="wounds"></span>.
        </li>
        <li>
            <h4>Minor Fixes 3/15/2019</h4>
            <ul>
                <li>Fixed the deck downloads to allow plain text decks lists to be downloaded.</li>
                <li>Added <span class="victoryppoint"></span> graph to the published decklists and personal decks.</li>
                <li>Added <span class="contract"></span> parameters search section.</li>
                <li>Added Search shortcut key to the <a href="/faq#Search_Key">FAQ.</a> Now it is possible to get a very granular search.</li>
                <li>Adjusted the Advance Search Form, to include UI searching of parameters.</li>
            </ul>
        </li>
        <li>
            <h4>Search Updates 3/13/2019</h4>
            Updated all of the search properties to return valid results.
        </li>
        <li>
            <h4>Card Image Updates 3/5/2019</h4>
            All cards should now have appropriate images in the deck builder and will display when cards are clicked on in decklists.
        </li>
    </ul>


</div>

{% endblock %}

{% block javascripts %}
<script type="application/ld+json">
{
   "@context": "http://schema.org",
   "@type": "WebSite",
   "url": "https://travellerdb.com/",
   "potentialAction": {
     "@type": "SearchAction",
     "target": "http://travellerdb.com/find/?q={search_term_string}",
     "query-input": "required name=search_term_string"
   }
}
</script>
{% endblock %}
