<style>
span.new	{ color:red }
</style>

<p style="text-align:justify">

<h1 id="Science_Fiction_Adventure_in_the_Far_Far_Future">Sci-Fi Adventure in the Far Far Future</h1>

<blockquote><em>"We go where the wind takes us, of course we operate mostly in vacuum!"</em><br>
— <cite>Dr. Percival Caernarvon, <em>Ship's Doctor, A.S.S. Bounty</em></cite></blockquote>

<p>This document is intended as the definitive source for rules information, but does not teach players how to play the game. Players should first read the <strong><i>Traveller Customizable Card Game Rules Booklet 2.0</i></strong> in its entirety and use this Rules Reference as needed while playing the game. The most current rules can be found in the <a href="https://www.travellerccg.com/downloads/">Downloads and Support</a> section of the <a herf="https://www.travellerccg.com/">Traveller CCG website</a></p>
<p>The majority of this guide consists of the glossary, which provides an alphabetical listing of terms and situations a player might encounter during a game. This section should be the first destination for players who have a rules question.</p>
<p>The latter part of this guide contains two appendices. The first appendix provides detailed timing diagrams that illustrate the structure of an entire game round, as well as a detailed explanation on how to handle each game step presented in those diagrams. The second provides a detailed anatomy of each cardtype.</p>

<h2 id="Background">Background</h2>
<p>The <strong><i>Traveller Customizable Card Game</i></strong> is set in the Third Imperium, an interstellar empire of more than 10,000 member worlds thriving in the distant future. Each player assumes the role of a starship captain at the head of a modest vessel and a small, adventurous crew, in search of riches and adventure.</p>


<h2 id="Game_Overview">Game Overview</h2>
<p><strong><i>Traveller</i></strong> has been designed to accommodate between one to four players (“Captains”).  Each captain requires a 20 card Adventure Deck, a 60 card Captain’s Deck, and a single Ship (<span class="ship"></span>) card.</p>

<h2 id="Victory">Victory</h2>
<p>The objective of the game is to be the first captain to reach 20 Victory Points (<span class="vp"></span>).  Captains must also avoid Bankruptcy, which occurs if a captain incurs an expense and is unable to pay for it.  Bankruptcy results in defeat, even if the captain is ahead in <span class="vp"></span> when insolvent.  If all opposing captains have been eliminated, the remaining captain is the winner.</p>

<h2 id="The_Golden_Rule_and_The_Platinum_Rules">The Golden Rule and The Platinum Rules</h2>
<p></p>

<h3 id="The_Golden_Rule">The Golden Rule</h3>
<p>Card text can override any game rule except the Platinum Rule. If any card’s text conflicts with the basic game rules, the card’s language prevails, but only to the minimum extent necessary to resolve the effect. When determining a conflict between a card that says it does something and another card that says something “cannot” occur, “cannot” prevails. </p>

<h3 id="The_Platinum_Rule">The Platinum Rule</h3>
<p>Cards may never change ownership.  Within the course of a game, control of a card may change, but the owner will always be the captain who brought the card to the game.  When a captain is eliminated, all cards owned by the vanquished captain are removed from the game, even if they are controlled by, or attached to cards controlled by, another captain. </p>

</br>

<h1 id="Glossary">Glossary</h1>
<p>The following is a list of terms, concepts, and rules used in the <strong><i>Traveller Customizable Card Game.</i></strong></p>

{%  for entity in glossary %}
<h3 id="{{ entity.keyword }}">{{ entity.title|raw }}</h3>
{{ entity.text|raw }}
    {% if (entity.keyword == 'Keywords_Overview') %}
        {% for keyword in keywords %}
            <h4 id="{{ keyword.keyword }}">{{ keyword.title|raw }}</h4>
            {{ keyword.text|raw }}
        {% endfor %}
    {% endif %}
{% endfor %}



<h1 id="Appendices">Appendices</h1>

<h2 id="Initial_Setup">Initial Setup</h2>
<p>To begin a game of <strong><em>Traveller</em></strong>, each captain must:</p>
<ul>
    <li>Place their ship <span class="ship"></span> play.</li>
    <li>Shuffle their <a href="#Captains_Deck">Captain’s Deck</a>, then draw a hand of seven cards.</li>
    <li>Shuffle their <a href="#Adventure_Deck">Adventure Deck</a>, then draw a card from the deck and play it face up as a contract <span class="contract"></span>. Then draw another card and play it face down, without looking at it, attached to the contract <span class="contract"></span> as a complication <span class="complication"></span>. Repeat this step for each contract <span class="contract"></span> slot the captain controls. In a two-player game, each captain controls two contract <span class="contract"></span> slots.</li>
</ul>
<p></p>
<h2 id="Round_Sequence">Round Sequence</h2>
<p>A game of <strong><em>Traveller</em></strong> proceeds through rounds. Within each round, play progresses through six phases.</p>
<ul>
    <li><a href="#Ready_Phase">Ready Phase</a></li>
    <li><a href="#Adventure_Phase">Adventure Phase</a></li>
    <li><a href="#Procurement_Phase">Procurement Phase</a></li>
    <li><a href="#Action_Phase">Action Phase</a></li>
    <li><a href="#Resource_Phase">Resource Phase</a></li>
    <li><a href="#Resolution_Phase">Resolution Phase</a></li>
</ul>

<h3 id="Ready_Phase">Ready Phase</h3>
<p>The Ready Phase provides captains with an opportunity to reset their positions and plan their strategy for the upcoming round. Play proceeds through the following stages:</p>
<p>Stage 1: All captains simultaneously ready <span class="ready"></span> all exerted cards.</p>
<p>Stage 2: All captains simultaneously resolve to hand size by discarding any cards in hand in excess of their hand size, which by default is seven, then discarding any number of unwanted cards in their hands. Then drawing cards from the <a href="#Captains_Deck">Captain’s deck</a> until they reach their hand size limit. or until no more cards remain in the <a href="#Captains_Deck">captain’s deck</a>, whichever happens first.</p>
<p>Stage 3: Determine play order by comparing each captain’s initiative <span class="initiative"></span>. The captain with the highest rating sets play order by choosing a first captain for the remainder of the round. If the initiative <span class="initiative"></span> ratings are tied, determine the first captain randomly. When play occurs in “Initiative Order” it begins with the first captain, then proceeding clockwise. The “acting captain” is the player currently progressing through a stage.</p>
<p>Stage 4: In initiative order, captains may restore wounds <span class="wound"></span> from crew <span class="crew"></span> and/or repair structure <span class="structure"></span> from upgrades <span class="upgrade"></span>, at a cost of <span class="1"></span> per point. Captains may elect to recover some or all of the wounds <span class="wound"></span> or structure <span class="structure"></span>, at their discretion.</p>
<p>Stage 5: In initiative order, captains may move gear <span class="gear"></span> between crew <span class="crew"></span> they control. No gear <span class="gear"></span> may be moved more than once per Ready Phase. Gear <span class="gear"></span> with <strong><u><a href="#KW_Integral">Integral</a></u></strong> (remember, all <strong><u><a href="#KW_Hindrance">Hindrances</a></u></strong> have <strong><u><a href="#KW_Integral">Integral</a></u></strong>) may not be moved.</p>
<p>Stage 6: Check for victory. If a captain has met their victory point <span class="vp"></span> threshold, which is 20 by default, they win the game. If multiple captains have exceeded their victory point <span class="vp"></span> threshold, the captain with the highest victory points <span class="vp"></span> wins. If there is a tie, then the captain with the highest initiative <span class="initiative"></span> wins.</p>

<h3 id="Adventure_Phase">Adventure Phase</h3>
<p>During the Adventure Phase, captains play complications <span class="complication"></span> on contracts <span class="contract"></span> and commit to an activity for the remainder of the round. Play proceeds through the following stages:</p>
<p>Stage 1: In initiative order, captains draw an adventure card, look at it without revealing it to opponents, then attach it face down on any contract <span class="contract"></span> in play as a complication <span class="complication"></span>. Contracts <span class="contract"></span> may not have more attached complications <span class="complication"></span> than permitted by its complication <span class="complication"></span> slots. If a new complication <span class="complication"></span> would exceed that limit, the acting captain must choose and discard an already attached complication <span class="complication"></span> to make room for the new one.</p>
<p>Stage 2: In initiative order, captains choose an activity to pursue from one of three options:</p>
<ul>
    <li><b>Uncommitted:</b> An uncommitted captain does not pursue any activity. If the captain was committed to a contract <span class="contract"></span> at the start of the phase, they may choose this activity, but must abandon the contract <span class="contract"></span> by paying the abandonment penalty <span class="abandon"></span>.</li>
    <li><b>Pursue a contract <span class="contract"></span>:</b> This activity allows the captain to commit to a contract <span class="contract"></span>. Any captain may pursue any contract <span class="contract"></span>, regardless of contract <span class="contract"></span> slot control. A captain committed to a contract <span class="contract"></span> may elect to pursue a different contract <span class="contract"></span>, which will require abandoning the previous contract <span class="contract"></span>, by paying the abandonment penalty<span class="abandon"></span>. Captains may also continue pursuing a contrract <span class="contract"></span> they had previously committed to but had not yet resolved.</li>
    <lI>Any time a captain elects to pursue a new contract <span class="contract"></span>, they must cover the distance (<span class="distance"></span>). For a cost of <span class="1"></span>, a ship <span class="ship"></span> covers distance <span class="distance"></span> equal to its jump <span class="jump"></span>. Multiple jumps may be required to cover the distance.</lI>
    <li><b>Pursue Piracy:</b> Captains may declare as a pirate for a cost of <span class="1"></span>. Any captain declaring as a pirate gains an ionfamy <span class="infamy"></span> token. Captains may engage in piracy even if currently committed to a contract <span class="contract"></span>, but they must abandon the contract <span class="contract"></span> by paying the abandonment penalty <span class="abandon"></span>.</li>
</ul>
<p>Stage 3: Check for victory. If a captain has met their victory point <span class="vp"></span> threshold, which is 20 by default, they win the game. If multiple captains have exceeded their victory point <span class="vp"></span> threshold, the captain with the highest victory point <span class="vp"></span> wins. If there is a tie, then the captain with the highest initiative <span class="initiative"></span> wins.</p>

<h4 id="Adventure_Phase_Solo">Solo Play Adventure Phase</h4>
<p>Because complications <span class="complication"></span> are the primary obstacle in solo play, the <a href="#Adventure_Phase">Adventure Phase</a> has a number of important changes.</p>
<p>Stage 1:	 The captain draws an adventure card and, without looking at it, plays it face down as a complication <span class="complication"></span>, using the following steps to determine the contract <span class="contract"></span> to which it should attach.</p>
<ul>
<li type="A">Attach it to the contract <span class="contract"></span> with the highest victory point <span class="vp"></span> unless that contract <span class="contract"></span> already has a number of attached complication <span class="complication"></span> equal to its complication <span class="complication"></span> slots, in which case, attach it to the contract <span class="contract"></span> with the next highest victory points <span class="vp"></span>.</li>
<li type="A">If all contracts <span class="contract"></span> already have a number of attached complications <span class="complication"></span> equal to their complication <span class="complication"></span> slots, then attach it to the contract <span class="contract"></span> with the lowest victory points <span class="vp"></span> total, after choosing an already attached complication <span class="complication"></span> to move to the discard pile.</li>
</ul>
<p>Stage 2: The captain draws an adventure card and places it face up as a complication <span class="complication"></span> on a contract <span class="contract"></span> of their choosing.</p>
<p>Stage 3: Choosing an Activity to Pursue, Because Piracy is not an option, captains must choose between pursing a contract <span class="contract"></span> or being uncommitted.</p>
<p>Stage 4: Check for victory. If a captain has met their victory point <span class="vp"></span> threshold, which is 20 by default, they win the game.</p>


<h3 id="Procurement_Phase">Procurement Phase</h3>
<p>In the Procurement Phase, captains have the opportunity to hire crew <span class="crew"></span>, equip gear <span class="gear"></span>, forge connections <span class="connection"></span> and install upgrades <span class="upgrade"></span>.</p>
<p>Stage 1: In initiative order, captains put connections <span class="connection"></span>, crew <span class="crew"></span>, gear <span class="gear"></span> and upgrades <span class="upgrade"></span> into play (“procure”) from their hand by paying the card’s cost. When procuring cards during this phase, Captains must pay an additional <span class="1"></span> for each infamy <span class="infamy"></span> token they possess.</p>
<p>Connections <span class="connection"></span> and crew <span class="crew"></span> are placed directly into play. Upgrades <span class="upgrade"></span> are attached to the procuring captain’s ship <span class="ship"></span>. Gear <span class="gear"></span> are attached to a crew <span class="crew"></span> controlled by the procuring captain. Gear <span class="gear"></span> or Upgrades <span class="upgrade"></span> with the <strong><u><a href="#KW_Hindrance">Hindrance</a></u></strong> keyword may instead be played on a card controlled by an opposing captain.</p>
<p>Some card types have certain limits that constrain the number that a captain may have in play.</p>

<table class="table table-bordered table-condensed text-center">
    <tr class="bg-baratheon">
        <th>Card Limits*</th><th></th>
    </tr>
    <tr>
        <td><em>Connection(<span class="connection"></span>)</em></td><td>No more than one of each subtyle</td>
    </tr>
    <tr class="bg-info">
        <td><em>Crew(<span class="crew"></span>)</em></td><td>No more than the <span class="crew"></span> slots provided by the captain's <span class="ship"></span>. <span class="crew"></span> are unique. No captain may have more than one <span class="crew"></span> with the same name, but multiple captains may each have a copy of the same <span class="crew"></span>.</td>
    </tr>
    <tr>
        <td><em>Gear(<span class="gear"></span>)</em></td><td>No <span class="crew"></span> may have attached more than one of each subtype.</td>
    </tr>
    <tr class="bg-info">
        <td><em>Upgrade(<span class="upgrade"></span>)</em></td><td>No more than the subtype slots provided by the captain's <span class="ship"></span></td>
    </tr>
</table>
<p>Anytime a captain would control cards in excess of any limit, that captain must choose and jettison cards until within permissible amounts. Cards with the keyword <strong><u><a href="#KW_Trifling">Trifling</a></u></strong> do not count against slot limits. See the <strong><u><a href="#KW_Trifling">Trifling</a></u></strong> entry in the keyword glossary for more details.</p>
<p>Stage 2: Check for victory. If a captain has met their victory point <span class="vp"></span> threshold, which is 20 by default, they win the game. If multiple captains have exceeded their victory point <span class="vp"></span> threshold, the captain with the highest victory points <span class="vp"></span> wins. If there is a tie, then the captain with the highest initiative <span class="initiative"></span> wins.</p>

<h3 id="Action_Phase">Action Phase</h3>
<p>During the Action Phase, captains have the opportunity to improve their position and hinder their opponents.</p>
<p>Stage 1: Captains alternate in initiative order performing actions. Actions are denoted by <span class="action"></span>. Some gear <span class="gear"></span> may provide Use actions, indicated by the use <span class="use"></span> icon. Use <span class="use"></span> is always an action <span class="action"></span>, and it requires the crew <span class="crew"></span> acting to exert <span class="exert"></span>.</p>
<p>Heroics <span class="heroics"></span> are a special kind of action <span class="action"></span> available to crew <span class="crew"></span> with the requisite skill. When declaring a crew <span class="crew"></span> is performing a heroic<span class="heroics"></span>, the controlling captain must choose whether the acting crew <span class="crew"></span> is taking the trained or the expert action <span class="action"></span>. A trained crew <span class="crew"></span> may only select the trained action <span class="action"></span>. An expert crew <span class="crew"></span> may perform either action, but not both.</p>
<p>The expert level of some heroic <span class="heroics"></span> may say “as above,” with or without additional text. As above indicates that the trained level text is applied, subject to any other modifying language in the expert ability.</p>
<p>Captains may play cards, use non-action abilities or generate effects even if they are not the current active captain. However, no card or ability may be played during an action <span class="action"></span> unless that card or ability has reaction (<span class="react"></span>).</p>
<p>The active captain may pass, if so desired. If all captains pass in order, the phase ends. If one captain passes and another acts, any previously passing captain may act.</p>
<p>Stage 2: Check for victory. If a captain has met their victory point <span class="vp"></span> threshold, which is 20 by default, they win the game. If multiple captains have exceeded their victory point <span class="vp"></span> threshold, the captain with the highest victory points <span class="vp"></span> wins. If there is a tie, then the captain with the highest initiative <span class="initiative"></span> wins.</p>

<h3 id="Resource_Phase">Resource Phase</h3>
<p>In the Resource Phase, captains generate tokens for use in resolving contract <span class="contract"></span> and complications <span class="complication"></span>.</p>
<p>Stage 1: In initiative order, captains collect all resource tokens to which they are entitled. In <strong><em>Traveller</em></strong>, there are two kinds of resource tokens: Capabilities and skills.</p>
<ul>
<li>A captain’s ship <span class="ship"></span> generates one capability token for each capability icon it possesses.</li>
<li>Each crew <span class="crew"></span> controlled by the captain generates one skill token for each skill it possesses. Skills come in two levels, trained (hex) and expert (circle). A crew <span class="crew"></span> generates the skill token that corresponds to the level it possesses.</li>
</ul>
<p>Resource tokens from a captain’s ship <span class="ship"></span> and crew <span class="crew"></span> are generated automatically, and are collected into the captain’s Resource Pool without any further act by the captain. A captain need not remember to physically gather the tokens. A captain may voluntarily reject any token from entering their Resource Pool, but must do so explicitly. If any effect requires a captain to pay a cost or resolve an effect to collect a token, that captain must explicitly elect to pay the cost or resolve the effect.</p>
<p>Stage 2: Check for victory. If a captain has met their victory point <span class="vp"></span> threshold, which is 20 by default, they win the game. If multiple captains have exceeded their victory point <span class="vp"></span> threshold, the captain with the highest victory points <span class="vp"></span> wins. If there is a tie, then the captain with the highest initiative <span class="initiative"></span> wins.</p>

<h3 id="Resolution_Phase">Resolution Phase</h3>
<p>The Resolution Phase is, in many ways, the culmination of a captain’s efforts. During this part of the round, players attempt to resolve contract <span class="contract"></span> and piracy, in the hopes of advancing towards victory.</p>
<p>Stage 1: All captains simultaneously reveal all face down complications <span class="complication"></span> on a contract <span class="contract"></span> they are pursuing.</p>
<p>Stage 2: Captains alternate in initiative order performing one of the following <a href="#Resolution_Phase">Resolution Phase</a> actions:</p>
<ul>
    <li>A captain pursuing a contract <span class="contract"></span> with attached complication <span class="complication"></span> may attempt to resolve a complication <span class="complication"></span>.</li>
    <li>A captain declared as a pirate may resolve a piracy attempt.</li>
<li>A captain may pass. Captains who pass may make no further selections during this stage. Note, this is different from the procedure during the <a href="#Action_Phase">Action Phase</a>, where captains are allowed to act after passing if another captain has subsequently acted.</li>
</ul>
<p>Once all captains have passed, the stage ends. If a captain is pursuing a contract <span class="contract"></span>, and that contract <span class="contract"></span> has no attached complications <span class="complication"></span> at the time the captain passes, that captain is an “eligible” captain. If a captain is pursuing a contract <span class="contract"></span>, and that contract <span class="contract"></span> does have attached complication <span class="complication"></span> at the time the captain passes, that captain is “ineligible.”</p>
<p>Complciation <span class="complication"></span> <strong>Resolution:</strong> Captains committed to contract <span class="contract"></span> may attempt to resolve any attached complication <span class="complication"></span> by the following procedure:</p>
<ol>
    <li>Select an attached complication <span class="complication"></span>. All complications <span class="complication"></span> on pursued should already have been revealed, but if, for some reason, the complication <span class="complication"></span> has not been revealed, reveal it.</li>
    <li>Complication <span class="complication"></span> are resolved by meeting its requirements. Requirements displaying a Resource Token icon are resolved if the captain can discard the corresponding token from their Resource pool. Alternatively, some requirements obligate the captain to jettison cards or incur expenses. Finally, requirements that simply state a card type or attribute (such as a <strong><em>trait</em></strong>) but do not specify any other obligation (such as jettison, exert <span class="exert"></span>, etc) can be met if the captain controls the corresponding card or a card with the specified attribute.</li>
    <li>If a complication <span class="complication"></span> has multiple requirements, resolve each one individually. Complications<span class="complication"></span> are resolved only if all requirements are met.</li>
    <li>If the complciation<span class="complication"></span> is resolved, the acting captain may then attempt to resolve any subplots (<span class="subplot"></span>) on the complication <span class="complication"></span> by meeting its requirements. If a subplot <span class="subplot"></span> has multiple requirements, resolve each one individually. Subplot <span class="subplot"></span> are only resolved if all requirements are met. Some subplot <span class="subplot"></span> may have elective requirements, in which case the acting captain must choose one to fulfill. If there are multiple subplot <span class="subplot"></span>, the acting captain may attempt to resolve some, all, or none at their election. If a subplot <span class="subplot"></span> is resolved, the acting captain claims the subplot <span class="subplot"></span> award.</li>
    <li>If the is resolved, move it to its owner’s adventure discard pile. Unresolved remain attached.</li>
    <li>If the acting captain resolved the complication <span class="complication"></span>, they may make further selections later during the <a href="#Resolution_Phase">Resolution Phase</a>. If the acting captain failed to resolve the complication <span class="complication"></span>, they are treated as though they had passed, and may make no further selections during the rest of the phase, and are counted ineligible.</li>
</ol>
<p><strong>Passing:</strong> A committed captain may elect to pass, rather than attempt to resolve a complication <span class="complication"></span> or piracy. Captains who pass in the <a href="#Resolution_Phase">Resolution Phase</a> may make no further selections for the remainder of the phase. If a captain passes while pursuing a contract <span class="contract"></span>, and that contract <span class="contract"></span> has no attached complication <span class="complication"></span>, they are “eligible.” If the captain passes while pursuing a complication <span class="complication"></span>, and that contract <span class="contract"></span> has one or more attached complications <span class="complication"></span>, the captain is “ineligible.”</p>
<p>Once all captains have passed, the stage ends.</p>
<p>Stage 3: In initiative order, eligible captains may attempt to resolve contract <span class="contract"></span> the they are pursuing.</p>
<ul>
    <li>Contracts <span class="contract"></span> are resolved by meeting its requirements. Requirements displaying a Resource Token icon are resolved if the captain can discard the corresponding token from their Resource pool. Alternatively, some requirements obligate the captain to jettison cards or incur expenses. Finally, requirements that simply state a card type or attribute (such as a <strong><em>trait</em></strong>) but do not specify any other obligation (such as jettison, exert <span class="exert"></span>, etc) can be met if the captain controls the corresponding card or a card with the specified attribute.</li>
    <li>If a contract <span class="contract"></span> has multiple requirements, resolve each one individually. Contracts <span class="contract"></span> are resolved only if all requirements are met. If the contract <span class="contract"></span> has been resolved, the acting captain claims the contract <span class="contract"></span> victory points<span class="vp"></span>.</li>
    <li>If the contract <span class="contract"></span> is resolved, the acting captain may then attempt to resolve any subplot <span class="subplot"></span> on the contract <span class="contract"></span> by meeting its requirements. If a subplot <span class="subplot"></span> has multiple requirements, resolve each one individually. Subplots <span class="subplot"></span> are only resolved if all requirements are met. Some subplots <span class="subplot"></span> may have elective requirements, in which case the acting captain must choose one to fulfill. If there are multiple subplots <span class="subplot"></span>, the acting captain may attempt to resolve some, all, or none at their election. If a subplot <span class="subplot"></span> is resolved, the acting captain claims the subplot <span class="subplot"></span> award.</li>
    <li>If the contract <span class="contract"></span> is resolved, move it to its owner’s adventure discard pile. Then, the owner of the contract <span class="contract"></span> slot draws an adventure card and plays it, face up, as a contract <span class="contract"></span>. They then draw another adventure card and, without looking at it, attaches it face down on the new contract <span class="contract"></span> as a complication <span class="complication"></span>. If the contract <span class="contract"></span> was not resolved, it remains in play.</li>
    <li>If the contract <span class="contract"></span> was resolved, the acting captain becomes uncommitted. If the contract <span class="contract"></span> was not resolved, the acting captain remains committed to it.</li>
</ul>
<p>Stage 4: Any captain who did not conduct a piracy action during the round loses 1 infmay <span class="infamy"></span> token. Even if a captain declared as a pirate during the <a href="#Adventure_Phase">Adventure Phase</a>, they will still lose an infamy <span class="infamy"></span> token if they did not actually conduct a piracy action at any point during the round.</p>
<p>Stage 5: All captains discard any remaining tokens in their Resource Pool.</p>
<p>Stage 6: Check for victory. If a captain has met their victory point <span class="vp"></span> threshold, which is 20 by default, they win the game. If multiple captains have exceeded their victory point <span class="vp"></span> threshold, the captain with the highest victory points <span class="vp"></span> wins. If there is a tie, then the captain with the highest initiative <span class="initiative"></span> wins.</p>
<p>After <em>Stage 6</em> of the <a href="#Resolution_Phase">Resolution Phase</a>, the round ends. If nobody has won, begin a new round by repeating the phases, and continue the sequence until a victor has been determined.</p>

<p><strong>Piracy:</strong> Captains who committed to piracy during the <a href="#Adventure_Phase">Adventure Phase</a> may resolve a piracy action by the following procedure:</p>
<ol>
    <li value="1">The acting captain targets a ship <span class="ship"></span> controlled by an opposing captain. The pirate is the “attacker,” the target the “defender.”</li>
    <li>The attacker inflicts damage equal to their Attack Value (<span class="av"></span>), minus the defender’s Defense Value (<span class="dv"></span>). For each point of damage, the attacker assigns it either as structure <span class="structure"></span> inflicted on an upgrade <span class="upgrade"></span> attached to the defender, or as an expense the defender must meet.</li>
    <li>If the attacker inflicted damage (if their attack value <span class="av"></span> exceeded the defender’s defense value <span class="dv"></span>), the piracy action is successful. If the attacker did not inflict damage, the piracy action was unsuccessful.</li>
    <li>The defender now inflicts damage equal to their attack value <span class="av"></span>, minus the attacker’s defense value <span class="dv"></span>. For each point of damage, the defender assigns it in an identical manner as step 2. The defender’s damage, or lack thereof, has no impact on whether or not the piracy action succeeds (step 3).</li>
    <li>The pirate becomes uncommitted.</li>
    <li><em>Damage and Incurred costs from Piracy actions happen at the same time.</em></li>
</ol>

<p><strong>Actions in the <a href="#Resolution_Phase">Resolution Phase</a></strong></p>
<p>Some cards may be played as an action <span class="action"></span> an during the <a href="#Resolution_Phase">Resolution Phase</a>. A captain may play such an action <span class="action"></span> instead of conducting piracy or resolving a complication <span class="complication"></span>.</p>
<p>Note, however, that a captain who plays an action <span class="action"></span> may resolve a complciation <span class="complication"></span> or conduct piracy when they next become the acting captain.</p>
<p>Because uncommitted captains may not resolve complications <span class="complication"></span> or conduct piracy, as a practical matter their only available selections as the active captain are either a <a href="#Resolution_Phase">Resolution Phase</a> action, or passing.</p>

<p><strong><em>Multiple Captains attempting the Same Contract</em></strong></p>
<p><strong>Competition</strong> If multiple captains are pursuing the same contract <span class="Contract"></span>, and they each complete it, each captain gains 1 less victory point <span class="VictoryPoint"></span>. Then each captain pursuing the contract <span class="Contract"></span> may attempt any subplots <span class="Subplot"></span>. The subplots <span class="Subplot"></span> victory points <span class="VictoryPoint"></span> are not reduced, even if both captains can complete the subplot <span class="Subplot"></span>.</p>


<p>Return to the <a href="../rulesreference#Ready_Phase">Ready Phase</a></p>
</div>
