<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<deck game="30c200c9-6c98-49a4-a293-106c06295c05" sleeveid="0">
  <section name="Faction" shared="False">
    <card qty="1" id="{{ deck.faction.octgnId }}">{{ deck.faction.name }}</card>
  </section>
  <section name="Adventure" shared="False">
{% for adventure in deck.adventure %}
    <card qty="1" id="{{ adventure.card.octgnId }}">{{ adventure.card.name }}</card>
{% endfor %}
  </section>
  <section name="Connections" shared="False">
{% for slot in deck.slots_by_type.conn %}
    <card qty="{{ slot.quantity }}" id="{{ slot.card.octgnId }}">{{ slot.card.name }}</card>
{% endfor %}
  </section>
  <section name="Crews" shared="False">
{% for slot in deck.slots_by_type.crew %}
    <card qty="{{ slot.quantity }}" id="{{ slot.card.octgnId }}">{{ slot.card.name }}</card>
{% endfor %}
  </section>
  <section name="Gears" shared="False">
{% for slot in deck.slots_by_type.gear %}
    <card qty="{{ slot.quantity }}" id="{{ slot.card.octgnId }}">{{ slot.card.name }}</card>
{% endfor %}
  </section>
  <section name="Events" shared="False">
{% for slot in deck.slots_by_type.event %}
    <card qty="{{ slot.quantity }}" id="{{ slot.card.octgnId }}">{{ slot.card.name }}</card>
{% endfor %}
  </section>
<section name="Heroics" shared="False">
  {% for slot in deck.slots_by_type.heroic %}
    <card qty="{{ slot.quantity }}" id="{{ slot.card.octgnId }}">{{ slot.card.name }}</card>
  {% endfor %}
</section>
<section name="Upgrades" shared="False">
  {% for slot in deck.slots_by_type.upgrade %}
    <card qty="{{ slot.quantity }}" id="{{ slot.card.octgnId }}">{{ slot.card.name }}</card>
  {% endfor %}
</section>
<notes><![CDATA[]]></notes>
</deck>
